---
layout: default
---

<div class="home">

  <div class="banner">
    <!-- <img class="w-100" src="https://via.placeholder.com/1000x350"> -->
    <div class="banner-text w-100">
      <div class="wrapper">
        <p class="display-5 m-0">High Performance and Scientific Computing</p>
        <h2 class="display-4 w-70">Workforce Development and Retention Action Group</h2>
        <p>The future workforce is our mission.</p>
        <a href="{{ site.baseurl }}/about"> 
          <button class="btn btn-outline">Learn More</button>
        </a>
      </div>
    </div>
  </div>

  <div class="wrapper">
    {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <div class="mission card mb-4">
        <div class="card-header">
            <p>Our Mission</p>
        </div>
        <div class="card-body">
            <p>The High Performance Computing Workforce Development and Retention Action Group’s mission is to enable the Department of Energy National Laboratories and their related computing communities to share their collective insight for inclusive and equitable workforce development and retention for High Performance Computing.</p> 
            <p>We foster a community within the DOE High-Performance Computing  communities that comes together on a regular basis to share ideas, catalog best practices, and develop recommendations and strategies for improvement.</p>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-lg-8">
            {% include recent_blog_posts.html %}
        </div>
        <div class="col-lg">
            {% include recent_announcements.html %}
        </div>
    </div>

    <hr>

    <div class="row mt-5 mb-5">
        <div class="col-lg">
            {% include recent_events.html %}
        </div>
    </div>

    
  </div> <!-- end wrapper-->
</div>
