<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="row">
        <!-- <div class="col-sm-2">
          <p class="">HPC-WDR</p>
        </div> -->
        <div class="col-sm">
          <p>{{ site.description | escape }}</p>
        </div>
        <div class="col-sm-2">
            <span class="small float-right">Version 1.0.0</span>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <img class="ecp-logo" src="{{ site.baseurl }}/assets/img/ecp-logo-small.png" alt="ECP Logo">
        </div>
        <div class="col-sm">
          <img class="oos-logo" src="{{ site.baseurl }}/assets/img/OoS.png" alt="Office of Science Logo">
        </div>
        <div class="col-sm-2">
          <img class="nnsa-logo" src="{{ site.baseurl }}/assets/img/NNSA.jpg" alt="NNSA Logo">
        </div>
      </div>
  
    </div>
  
  </footer>
