<h3>Events</h3>

{%- if page.list_title -%}
<h2 class="post-list-heading">{{ page.list_title }}</h2>
{%- endif -%}
<div class="row post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {% assign events = site.events | sort: 'date' %}
    {%- for event in events limit:3 -%}

    <!-- Only show items that are not expired (aka archived)-->
    {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
    {% capture expires %}{{ event.expires | date: '%s'}}{% endcapture %}

    {% if expires > nowunix %}
    <div class="col-lg">
        <span class="post-meta">{{ event.date | date: date_format }}</span>
        <h3>
            <a class="post-link" href="{{ event.url | relative_url }}">
                {{ event.title | escape }}
            </a>
        </h3>
        {{ event.content | strip_html | truncatewords: 15 }}
     </div>
    {% endif %}
    {%- endfor -%}
    
</div>
<br>
<button class="btn btn-outline">View All Events</button>