<h3>Announcements</h3>

{% for item in site.data.announcements limit:3 %}

<!-- Only show items that are not expired (aka archived)-->
{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% capture expires %}{{ item.expires | date: '%s'}}{% endcapture %}

{% if expires > nowunix %}
<div class="mb-3">
    <a href={{ item.url }}>
        <p class="m-0 font-weight-bold">{{ item.name }}</p>
    </a>
    <p class="mb-0">{{ item.description }}</p>
    <a class="highlighted" href={{ item.url }}>{{ item.url }}</a>
</div>
{% endif %}
{% endfor %}
