---
---

@import "{{ site.theme }}";
@import 'bootstrap/bootstrap';

.wrapper {
    max-width: 1100px;
}
.site-nav {
    line-height: initial;
}
.social-bar {
    background-color: #171612;
    min-height: 30px;
}
.site-footer {
    background-color: #171612;
    color: white;
}
.page-content {
    padding: 0px;
}
.social-bar .social-media-list{
    float: right;
}
.social-bar .social-media-list li {
    display: inline-block;
}
.social-bar .svg-icon {
    width: 25px;
    height: 25px;
}
.social-bar .username {
    display: none;
}
.social-media-list li + li {
    padding-top: 3px;
}
article {
    padding: 25px 0px;
}
ul.pagination {
    margin-left: 0px;
}
.banner {
    position: relative;
    background: url(https://via.placeholder.com/1000x350), #cccccc;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.banner-text {
    padding: 100px;
}
.highlight-block {
    background-color: #e6e6e6;
    padding: 25px;
}