---
layout: page
title: Community
description: Please share your workforce community events here. 
permalink: /community/
---

<h4 class="mb-0">What is Here?</h4>
<br>
One of purposes of this site is to help connect and inform the Computational Science and Computing communities. We welcome contributions of blogs, best practices and events to these pages. 
However, the material must be in scope.
<br>
<h4 class="mb-0">Scope of Content</h4>
<br>
The exact scope of relevant content will evolve as we learn more about community interests. However, the following guidelines should be useful:
<br>
<h4 class="mb-0">In-scope content</h4>
<br>
<ul>
  <li>General issues or experiences in workforce development and retention that overlap with common challenges faced in the Computational Science and Computing communities.</li>
  <li>Best Practices for workforce development and retention in the Computational Science and Computing.</li>
  <li>Characterization of challenges and solutions for workforce development that may be particularly valuable to the Computational Science and Computing communities.</li>  
</ul>  
<br>
<h4 class="mb-0">Highlight connections to Computational Science and Computing </h4>
<br>
<ul>
  <li>How your topic intersects with themes that are of particular interest to Computational Science and Computing, for example, practices or examples of running an inclusive, equitable research group or project team that uses HPC or builds scientific software, best practices for mentoring and training Computing and Scientific computing professions or experiences or best practices with retaining a robust computing workforce.</li>  
  <li>Why your topic could be of particular interest to Computational Science and Computing communities.</li>
</lu>
<br>
<h4 class="mb-0">Out-of-scope content</h4>
<br>
<ul>
  <li>Tools, processes, and practices that have little in common with workforce development and retention or that could not be applied to building an inclusive, equitable and diverse scientific computing workforce.</li>
  <li>Content that is deemed incomplete or biased, as determined by the HPC WDR leaders.</li>
</ul>
<br>
<h4 class="mb-0">Does your idea seem to fit?</h4>

If you have an idea that might work, continue to the How To Contribute page.



  <div class="mt-4 mb-4">
    <h3 class="mb-0">Reoccurring Events</h3>
    <p class="mt-0">Schools and Workshops</p>
    <div class="row post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {% assign events = site.events | where:'repeated', "true" | sort: 'date'%}
      {%- for event in events -%}

      <!-- Only show items that are not expired (aka archived)-->
      {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
      {% capture expires %}{{ event.expires | date: '%s'}}{% endcapture %}

        {% if expires > nowunix %}
          <div class="col-lg-3 mt-4 mb-4">
          <span class="post-meta">{{ event.date | date: date_format }}</span>
          <h3>
              <a class="post-link" href="{{ event.url | relative_url }}">
                  {{ event.title | escape }}
              </a>
          </h3>
          {{ event.content | strip_html | truncatewords: 15 }}
          </div>
        {% endif %}
      {%- endfor -%}
    </div>
  </div>

  <hr>

  <div class="mb-4">
    <h3 class="mb-0">Upcoming Webinars</h3>
    <p class="m-0">Webinars hosts by us</p>
    <div class="row post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {% assign events = site.events | where:'category', "webinar" | sort: 'date'%}
      {%- for event in events -%}

      <!-- Only show items that are not expired (aka archived)-->
      {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
      {% capture expires %}{{ event.expires | date: '%s'}}{% endcapture %}

        {% if expires > nowunix %}
          <div class="col-lg-3 mt-4 mb-4">
          <span class="post-meta">{{ event.date | date: date_format }}</span>
          <h3>
              <a class="post-link" href="{{ event.url | relative_url }}">
                  {{ event.title | escape }}
              </a>
          </h3>
          {{ event.content | strip_html | truncatewords: 15 }}
          </div>
        {% endif %}
      {%- endfor -%}
    </div>
    <button class="btn btn-outline">
      <a href="{{ site.baseurl }}/event_archive">Webinar Archive</a>
    </button>
  </div>

  <hr>

  <div class="mt-4 mb-4">
    <h3 class="mb-0">Community Events</h3>
    <p class="mt-0">Schools and Workshops</p>
    <div class="row post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {% assign events = site.events | where:'category', "community" | sort: 'date'%}
      {%- for event in events -%}

      <!-- Only show items that are not expired (aka archived)-->
      {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
      {% capture expires %}{{ event.expires | date: '%s'}}{% endcapture %}

        {% if expires > nowunix %}
          <div class="col-lg-3 mt-4 mb-4">
          <span class="post-meta">{{ event.date | date: date_format }}</span>
          <h3>
              <a class="post-link" href="{{ event.url | relative_url }}">
                  {{ event.title | escape }}
              </a>
          </h3>
          {{ event.content | strip_html | truncatewords: 15 }}
          </div>
        {% endif %}
      {%- endfor -%}
    </div>
    <button class="btn btn-outline">
      <a href="{{ site.baseurl }}/event_archive">Event Archive</a>
    </button>
  </div>
  
  <hr>

  <div class="highlight-block">
    <p class="display-5 m-0">Want to submit your event?</p>
    <p>Submit your event here.</p>
    <button class="btn btn-primary">Submit Event</button>
  </div>
